<!--<body style="margin:0px; padding:0px; font-family:Calibri,Arial, Helvetica, sans-serif; font-size:12px; color:#000000; background-color:#ffffff;">-->

<br/><br/><br/><br/>
<div
  style="margin:0px; padding:0px; font-family:Calibri,Arial, Helvetica, sans-serif; font-size:12px; color:#000000; background-color:#ffffff;">
  <table width="659" border="0" cellspacing="0" cellpadding="0">
    <tbody>

    <tr>
      <td colspan="3" bgcolor="#ffffff" style="border-top:1px solid #5a9732;">&nbsp;</td>
    </tr>

    <tr>
      <td width="100" align="left" valign="top" bgcolor="#FFFFFF"><a href="https://kedri.aut.ac.nz/"><img
        src="http://wwwdev.aut.ac.nz/rc/signatures/kedri/KEDRI-icon.gif" width="80" height="80" alt="KEDRI" border="0"
        hspace="0" vspace="0"/></a></td>
      <td align="left" valign="top" bgcolor="#FFFFFF"
          style="font-family:Calibri,Arial, Helvetica, sans-serif; font-size:12px;">
        <span style="font-family:Calibri,Arial, Helvetica, sans-serif; font-size:18px;"><strong>AUT Knowledge Engineering & Discovery Research Institute</strong></span><br/>

        <br/><br/>
        <span style="font-family:Calibri,Arial, Helvetica, sans-serif; color:#5a9732; font-size:16px;">
<strong>{{content.firstName}} {{content.lastName}}</strong></span><br/>
        <div style="white-space:pre-wrap;">{{content.position}}</div>
        <br/>
        <span style="font-family:Calibri,Arial, Helvetica, sans-serif; color:#5a9732; font-size:12px;"
              *ngIf="content.phoneNumber !== ''"><strong>P</strong></span> {{content.phoneNumber}}

        <span style="font-family:Calibri,Arial, Helvetica, sans-serif; color:#5a9732; font-size:12px;"
              *ngIf="content.mobileNumber !== ''"><strong>&nbsp;&nbsp;&nbsp;M</strong></span> {{content.mobileNumber}}

        <span style="font-family:Calibri,Arial, Helvetica, sans-serif; color:#5a9732; font-size:12px;"><strong>&nbsp;&nbsp;&nbsp;E</strong></span>
        <a href="mailto:{{content.email}}" style="text-decoration: none;">{{content.email}}</a>

        <span style="font-family:Calibri,Arial, Helvetica, sans-serif; color:#5a9732; font-size:12px;"><strong>&nbsp;&nbsp;&nbsp;W</strong></span>
        <a href="http://kedri.aut.ac.nz" style="text-decoration: none;">kedri.aut.ac.nz</a>
      </td>
      <td width="100" align="right" valign="top"><a href="https://www.aut.ac.nz/"><img
        src="http://wwwdev.aut.ac.nz/rc/signatures/kedri/AUT-logo-block.gif" width="80" height="57" alt="AUT UNIVERSITY"
        border="0" hspace="0"
        vspace="0"/></a></td>
    </tr>

    <tr>
      <td colspan="3" bgcolor="#ffffff" width="659" style="border-bottom:14px solid #5a9732;">&nbsp;<br/></td>
    </tr>

    </tbody>
  </table>
</div>
<br><br><br><br><br>
